{% extends 'base.html' %}

{% block content %}
    <h1>Lista de Clientes</h1>
    <hr>
    <a class="btn btn-outline-primary" href="{% url 'cadastro_cliente' %}">Novo</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <th scope="row">{{ cliente.id}}</th>
                <th>{{cliente.nome}}</th>
                <th>{{cliente.email}}</th>
                <th>{{cliente.telefone}}</th>
                <th>
                    <a class="btn btn-outline-primary" href="{% url 'visualizar_cliente' cliente.id%}"><i class="fa-solid fa-eye"></i></a>
                    <a class="btn btn-outline-warning" href="{% url 'editar_cliente' cliente.id%}"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-outline-danger" href="{% url 'deletar_cliente' cliente.id %}" onclick="return confirm('Tem certeza que deseja deletar este cliente?')"><i class="fa-solid fa-trash"></i></a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}